$primary: #FFFFFC;
$accent: #FF7700;
$inactive: #686868;
$border: #14141430;

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    margin: 0;

    li {
        display: flex;
        margin: 0;
        padding: 0;
    }

}

.menu-item {
    display: flex;
    justify-content: center;
    width: 16%;

    a {
        color: $inactive;
    }

}

.menu-item[active] {
    border-top: 2px solid #141414;

    a {
        color: #141414;
    }

}

.top-navigation,
.bottom-navigation {
    position: fixed;
    z-index: 1000;
    display: flex;
    bottom: 0;
    min-height: 10%;
    max-height: 10%;
    min-width: 100%;
    background-color: $primary;
    align-items: center;
}

.bottom-navigation {
    border-top: .5px solid $border;
}

.top-navigation {
    top: 0;
    padding-top: 2%;
    min-height: 6%;
    max-height: 6%;
    border-bottom: .5px solid $border;

    .menu {
        justify-content: flex-end;
    }

    .menu-item {
        a {
            color: $accent;
        }
    }

}

.icon::before {
    display: inline-block;
    font: var(--fa-font-solid);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Free";
}

.nav_home-button::before {
    content: '\f015';
}

.nav_add-button::before {
    content: '\2b';
}

.nav_profile-button::before {
    content: '\f007';
}

.nav_notifications-button::before {
    content: '\f0f3';
}