$primary: #FFFFFC;
$text-primary: #141414;
$secondary: #F3F3F3;
$accent: #FF7700;
$accent_business: #309900;
$border: #14141430;

.button-primary {
    background-color: $accent !important;
    border-color: $accent !important;
}

a {
    color: $accent;
}

body {
    background-color: $primary;
    color: $text-primary;
}

main {
    padding-top: 8vh;
    padding-bottom: 15vh;
}

.container-full-width {
    min-width: 100%;
    margin: 0;
    padding: 5px;
}

/*
 *
 * PROFILE
 *
*/

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: $secondary;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}


.profile_details {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;

    h1 {
        line-height: 0;
    }
}


.pfp_user,
.pfp_business {
    border-radius: 100%;
    max-width: 162px;
    box-shadow: 0 0 10px $accent;
}

.pfp_business {
    border-radius: 25%;
    box-shadow: 0 0 10px $accent_business;

}

.profile_name {
    font-weight: bold;
}

.profile_category {
    font-size: 18px;
    text-decoration: none;
    font-variant: small-caps;
}

.profile_description {
    margin: 15px 0;
    text-align: center;
}

.profile_social {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.profile_social_details {
    display: flex;
    padding: 0;
    gap: 5px;
    margin-bottom: 15px;
    justify-content: center;
}

.profile_social_followers::after {
    content: " · ";
    color: $text-primary;
}

/*
 *
 * PROJECT SECTION
 *
*/

.portfolio {
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    min-height: 20vh;
    gap: 5px;
}

.portfolio_title {
    align-self: center;
    font-size: 3vh;
    line-height: 0;
    margin: 0;
    text-decoration: overline underline double;
    margin-top: 10px;
    margin-bottom: 25px;
}

$card-radius: 25px;

.project_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    border-radius: $card-radius;
    background: $primary;
    min-height: 150px;
    margin: 5px;
    box-shadow: 0 0 3px 0 black;

    .button {
        margin-bottom: 15px;
        min-width: 85%;
    }


}

.project_card_data {
    display: flex;
    gap: 15px;
    padding: 10px 25px;
}

.project_icon {
    border-radius: $card-radius;
    max-height: 128px;
    max-width: 128px;
    align-self: center;
}

.project_title {
    font-size: 4vh;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
    font-weight: bold;
}

.project_details {

    display: flex;
    flex-direction: column;
    
    .project_description {
        font-size: 2vh;
        max-height: 12ex;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
    }

}